/* * sirve para aplicar un estilo en toda la página */
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

/* barra de navegación */
/* estilo para aplicar al ul */
.nav{
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: black;
    overflow: auto;
    width: 100%;
    position: fixed;
}
/* se aplica a todos los li dentro de la clase nav */
.nav li{
    float:left;
}
/* se aplica en a href */
.link{
    text-decoration: none;
    padding: 14px 16px;
    color:white;
    display: inline-block;
    text-align: center;
    transform: scale(1);
    transition: transform 0.6s;
}
.link:hover{
    color: black;
    background-color: white;
    transform: scale(1.05);
}

.contenedor{
    width: 90%;
    margin: auto;
    padding: 80px 0;
}

/* galería */
.galeria{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.imagen{
    width: 45%;
    margin-bottom: 30px;
    box-shadow: 0px 13px 13px 0 black;
}